.App {
  text-align: center;
}
body{
  background: #164c76;
  color: #fff;
}

.Header{
  width: 100%;
  float: left;
  background: #072841;
  text-align: center;
  padding: 15px;
}
.ContentBody{
  float: left;
  width: 100%;
  padding: 25px 0px;
}
.Header h1{
  text-align: center;
}
.ToDOListBox{
  max-height: 450px;
  overflow: auto;
}
.ToDOList {
  float: left;
  width: 100%;
  padding: 8px 15px;
  margin-top: 15px;
  color: #fff;
  text-align: left;
}
.ToDOList.active{
  background: #4caf50;
}
.ToDOList.complete{
  background: #939393;
}
.input-group .form-control{
  height: 60px;
  border-radius: 0px;
  border: none;
}
.input-group .btn-primary{
  height: 60px;
  width: 120px;
  border-radius: 0px;
}
.input-group .btn-primary:focus,.input-group .btn-primary:active{
  outline: none;
  border: none;
}
.Footer{
  float: left;
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 10;
  color: #777;
}